@model integrador_moodle.Models.Aluno

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
@Scripts.Render("http://code.jquery.com/jquery-1.10.2.min.js")
@Scripts.Render("http://code.jquery.com/ui/1.10.3/jquery-ui.js")

<style>
label {
    width:140px;    
    float:left;
    text-align:right;
    padding-right:5px;
}

#button 
{
    margin-left:145px;
}
</style>

  <script>
      $(function () {
          $("#datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });
    });
  </script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cadastrar</legend>

        <div class="editor"><label>
            Nome
        </label>
            @Html.TextBoxFor(model => model.nome, new { @class = "input-xxlarge" })
            @Html.ValidationMessageFor(model => model.nome)
        </div>
        
        <div class="editor"><label>
            E-mail
        </label>
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

         <div class="editor"><label>
            Senha
        </label>
            @Html.EditorFor(model => model.senha)
            @Html.ValidationMessageFor(model => model.senha)
        </div>
        
        <div class="editor"><label>
            CPF
        </label>
            @Html.EditorFor(model => model.cpf)
            @Html.ValidationMessageFor(model => model.cpf)
        </div>

        <div class="editor"><label>
            Data de Nascimento
        </label>
            @Html.EditorFor(model => model.dataNascimento)
            @Html.ValidationMessageFor(model => model.dataNascimento)
        </div>

        <div class="editor"><label>
            Sexo
        </label>
            @Html.DropDownListFor(model => model.sexo,
                new List<SelectListItem>()
                {
                    new SelectListItem() {
                        Text = "Masculino",
                        Value = "1"
                    },
                    new SelectListItem() {
                        Text = "Feminino",
                        Value = "1"
                    },
                }
            )
            @Html.ValidationMessageFor(model => model.sexo)
        </div>
        
        <div class="editor"><label>
            Telefone
        </label>
            @Html.EditorFor(model => model.telefoneFixo)
            @Html.ValidationMessageFor(model => model.telefoneFixo)
        
        
            Celular
        
            @Html.EditorFor(model => model.celular)
            @Html.ValidationMessageFor(model => model.celular)
        </div>

        <div class="editor"><label>
            Endereço
        </label>
            @Html.TextBoxFor(model => model.endereco, new { @class = "input-xxlarge" })
            @Html.ValidationMessageFor(model => model.endereco)
        </div>

        <div class="editor"><label>
            Bairro
        </label>
            @Html.EditorFor(model => model.bairro)
            @Html.ValidationMessageFor(model => model.bairro)
        </div>

        <div class="editor"><label>
            Cidade
        </label>
            @Html.EditorFor(model => model.cidade)
            @Html.ValidationMessageFor(model => model.cidade)
        </div>

        <div class="editor"><label>
            CEP
        </label>
            @Html.EditorFor(model => model.cep)
            @Html.ValidationMessageFor(model => model.cep)
        </div>

        <div class="editor"><label>
            Estado
        </label>
            @Html.DropDownListFor(model => model.estado, new SelectList(ViewBag.estados, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.estado)
        </div>

        <p id="button">
            <input type="submit" value="Salvar" class="btn" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
